input,
:host::ng-deep .p-inputtext,
:host::ng-deep .p-dropdown,
:host::ng-deep .p-chips,
.p-inputtext,
.p-dropdown,
.p-chips,
textarea {
  width: 100% !important;
}

:host::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-family: IRANSans_Light !important;

}

.p-autocomplete-panel .p-autocomplete-items {
  border: none !important;
  outline: none !important;
}

:host::ng-deep .p-fluid .p-button-icon-only {
  background-color: transparent !important;
  color: #999;
  border-color: #d6d6d6 !important;
  border-right: none;
}

:host::ng-deep .p-fluid .p-button-icon-only:hover {
  color: #999;
}

:host::ng-deep .p-fileupload-choose:not(.p-disabled) {
  color: #fff !important;
  background-color: var(--color-primary) !important;
  font-size: 16px;
  border: none !important;
  border-radius: 5px;
}

input[name=mobile] {
  pointer-events:none;

}


:host::ng-deep .p-button {
  background: var(--color-primary);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

:host::ng-deep .p-button:hover {
  background: var(--color-primary) !important;
}