<app-header-shop></app-header-shop>
<p-toast position="center"></p-toast>
<section class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-12 col-md-4 col-lg-3 d-none d-md-block">
            <div class="filter-box">
                <div class="row justify-content-center">
                    <div class="col-12">
                    <p-panelMenu [model]="items" [style]="{ width: '100%' }"></p-panelMenu>
                    <!-- <p-megaMenu [model]="itemsCatPc" orientation="vertical" styleClass="myMenu"></p-megaMenu> -->
                </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12">
                        <span class="p-fluid">
                            <p-autoComplete [lazy]="true" [forceSelection]="true"
                                (onSelect)="onSellerShopNameChange($event)" (onClear)="onSellerShopNameChange($event)"
                                [suggestions]="filteredSellerShopNames" placeholder="جستجوی فروشگاه..."
                                (completeMethod)="filterSellerShopName($event)" field="shopName">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center pt-2 pb-2">
                    <div class="col-12">
                        <span class="p-fluid">
                            <p-autoComplete [lazy]="true" (onSelect)="onSellerNameChange($event)"
                                (onClear)="onSellerNameChange($event)" [suggestions]="filteredSellerNames"
                                placeholder="جستجوی فروشنده..." (completeMethod)="filterSellerName($event)"
                                field="fullName">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center pt-2 pb-2">
                    <div class="col-12">
                        <span class="p-fluid">
                            <p-autoComplete [lazy]="true" (onClear)="onProductNameChange($event)"
                                (onSelect)="onProductNameChange($event)" [suggestions]="filteredProductNames"
                                placeholder="جستجوی محصول..." (completeMethod)="filterProductName($event)"
                                field="title">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center pt-3">
                    <label class="ml-5">فقط تخفیف دار</label>
                    <p-inputSwitch name="offer" [(ngModel)]="offer" (onChange)="onOfferChange($event)">
                    </p-inputSwitch>
                </div>
                <div class="row justify-content-center">
                    <p-chips placeholder=" کلمات کلیدی " (onAdd)="onAddKey($event)" (onRemove)="onRemoveKey($event)"
                        [addOnTab]="true" [addOnBlur]="true">
                    </p-chips>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-9 col-md-8">
            <div class="card-sort">
                <div class="row">
                    <div class="col-lg-6 col-md-12 align-self-center">
                        <div class="row justify-content-center">
                            <p-selectButton [options]="sortOptions" [(ngModel)]="sortValue"
                                (onChange)="onChangeSortOptions($event)">
                                <ng-template let-item>
                                    <i [class]="item.icon"></i>
                                    <span>{{item.name}}</span>
                                </ng-template>
                            </p-selectButton>
                            <p-selectButton [options]="filterOptions" (click)="displayMobileFilter = true"
                                styleClass="d-sm-block d-md-none d-lg-none">
                                <ng-template let-item>
                                    <i [class]="item.icon"></i>
                                    <span>{{item.name}}</span>
                                </ng-template>
                            </p-selectButton>
                        </div>
                    </div>
                    <div
                        class="d-none d-md-block col-lg-6 col-md-12 align-self-center text-left text-md-center text-lg-left">
                        <p class="mb-0">{{total}} مورد یافت شد.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-right pt-3">
                <div class="col-sm-12 col-lg-3 col-md-6 mt-1" *ngFor="let item of products">
                    <p-card>
                        <ng-template pTemplate="header">
                            <img [src]="item.image" [alt]="item.title" class="item-image" />
                        </ng-template>
                        <ng-template pTemplate="content">
                            <div class="row cat">
                                <h6 class="ml-auto">{{item.ProductSubCat[0].title}}</h6>
                                <h6>{{item.ProductSubSubCat[0].title}}</h6>
                            </div>
                           <a [routerLink]="['/shop/product/',item['_id']]"><h4>{{item.title}}</h4></a>
                            <p-badge [value]="item.tag" severity="danger"></p-badge>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div class="row pl-3 pr-3">
                                <h6 *ngIf="item.discountID===('62fd54e923eb246818407526')" class="ml-auto">{{item.price
                                    | number}} تومان</h6>
                                <h6 *ngIf="item.discountID!==('62fd54e923eb246818407526')" class="ml-1 dis">{{item.price
                                    | number}}</h6>
                                <h6 *ngIf="item.discountID!==('62fd54e923eb246818407526')" class="ml-auto">{{item.price
                                    - item.price * item.Discount[0].discountPercent / 100}} تومان</h6>
                                <a (click)="addToCart()">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 26"
                                        style="enable-background:new 0 0 26 26;" xml:space="preserve">
                                        <g>
                                            <path d="M25.856,10.641C21.673,19.5,20.312,19.5,19.5,19.5h-8c-2.802,0-4.949-1.648-5.47-4.2
                                   c-0.016-0.078-1.6-7.853-2.005-10.025C3.826,4.21,3.32,3.5,1.5,3.5C0.671,3.5,0,2.829,0,2s0.671-1.5,1.5-1.5
                                   c3.02,0,4.964,1.5,5.474,4.224c0.401,2.149,1.98,9.898,1.996,9.977c0.319,1.566,1.722,1.8,2.53,1.8h7.605
                                   c0.817-0.878,2.679-4.261,4.038-7.141c0.354-0.749,1.249-1.068,1.997-0.716C25.89,8.997,26.21,9.891,25.856,10.641z M10.5,20.5
                                   C9.119,20.5,8,21.619,8,23s1.119,2.5,2.5,2.5S13,24.381,13,23S11.881,20.5,10.5,20.5z M19.5,20.5c-1.381,0-2.5,1.119-2.5,2.5
                                   s1.119,2.5,2.5,2.5S22,24.381,22,23S20.881,20.5,19.5,20.5z M14.663,12.344c0.1,0.081,0.223,0.12,0.346,0.12
                                   s0.244-0.039,0.346-0.12c0.1-0.079,2.828-2.74,4.316-4.954c0.115-0.172,0.126-0.392,0.028-0.574
                                   c-0.095-0.181-0.285-0.295-0.49-0.295h-2.226c0,0-0.217-4.291-0.359-4.49c-0.206-0.294-1.057-0.494-1.616-0.494
                                   c-0.561,0-1.427,0.2-1.634,0.494c-0.141,0.198-0.328,4.49-0.328,4.49h-2.255c-0.206,0-0.395,0.114-0.492,0.295
                                   c-0.097,0.182-0.086,0.403,0.028,0.574C11.816,9.605,14.564,12.265,14.663,12.344z" />
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                    </svg>
                                </a>

                            </div>
                            <!-- <div class="row justify-content-center cat">
                                <p-badge [value]="'موجود'" *ngIf="item.info[0].remainsNumber>0" severity="success"
                                    styleClass="m-2"></p-badge>
                                <p-badge [value]="'ناموجود'" *ngIf="item.info[0].remainsNumber==0" severity="warning"
                                    styleClass="m-2"></p-badge>
                            </div> -->
                        </ng-template>
                    </p-card>
                </div>
            </div>
            <div class="card-paginator">
                <p-paginator [rows]="3" [totalRecords]="total" [pageLinkSize]="3"></p-paginator>

            </div>

            <div class="row justify-content-center mt-1" *ngIf="total === 0">
                <div class="bg-pagination w-100 card">
                    <p class="text-center font-weight-bold py-3 mb-0">
                        نتیجه جستجو یافت نشد.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="card-sort-mobile">
    <div class="row">
        <div class="col-lg-6 col-md-12 align-self-center">
            <div class="row justify-content-center">
                <p-selectButton [options]="sortOptions" [(ngModel)]="sortValue"
                    (onChange)="onChangeSortOptions($event)">
                    <ng-template let-item>
                        <i [class]="item.icon"></i>
                        <span>{{item.name}}</span>
                    </ng-template>
                </p-selectButton>
                <p-selectButton [options]="filterOptions" [(ngModel)]="filterValue"
                    (click)="displayMobileFilter = true">
                    <ng-template let-item>
                        <i [class]="item.icon"></i>
                        <span>{{item.name}}</span>
                    </ng-template>
                </p-selectButton>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="displayMobileFilter" [style]="{ width: '25em' }" position="left" [showCloseIcon]="true"
    [baseZIndex]="10000">
    <div class="text-center"></div>
    <div class="d-flex flex-column">
        <div class="mb-auto">
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <div class="col-12">
                      <p-panelMenu [model]="items2" [style]="{ width: '100%' }"></p-panelMenu>
                    </div>
                  </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <span class="p-fluid">
                            <p-autoComplete [lazy]="true" (onSelect)="onSellerShopNameChange($event)"
                                (onClear)="onSellerShopNameChange($event)" [suggestions]="filteredSellerShopNames"
                                placeholder="جستجوی فروشگاه..." (completeMethod)="filterSellerShopName($event)"
                                field="shopName">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center pt-2 pb-2">
                    <div class="col-12">
                        <span class="p-fluid">
                            <p-autoComplete [lazy]="true" (onSelect)="onSellerNameChange($event)"
                                (onClear)="onSellerNameChange($event)" [suggestions]="filteredSellerNames"
                                placeholder="جستجوی فروشنده..." (completeMethod)="filterSellerName($event)"
                                field="fullName">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center pt-2 pb-2">
                    <div class="col-12">
                        <span class="p-fluid">
                            <p-autoComplete [lazy]="true" (onClear)="onProductNameChange($event)"
                                (onSelect)="onProductNameChange($event)" [suggestions]="filteredProductNames"
                                placeholder="جستجوی محصول..." (completeMethod)="filterProductName($event)"
                                field="title">
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center pt-3">
                    <label class="ml-5">فقط تخفیف دار</label>
                    <p-inputSwitch name="offer" [(ngModel)]="offer" (onChange)="onOfferChange($event)">
                    </p-inputSwitch>
                </div>
                <div class="row justify-content-center">
                    <p-chips placeholder=" کلمات کلیدی " (onAdd)="onAddKey($event)" (onRemove)="onRemoveKey($event)"
                        [addOnTab]="true" [addOnBlur]="true">
                    </p-chips>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>



<p-sidebar [(visible)]="displayBasket" [showCloseIcon]="true" [baseZIndex]="100000000000" dir="rtl">
    <div class="text-center">
        <img width="100px" src="../../../../../assets/images/button.png" class="img-fluid" alt="" />
    </div>
    <!-- <div class="d-flex flex-column">
    <div dir="rtl" *ngIf="cartlist.length != 0">
      <ul class="list-group list-group-numbered" *ngFor="let item of cartlist">
        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-start
            mb-1
          "
        >
          <div class="ms-2 me-auto">
            <div class="title">{{ item.name }}</div>
            {{ item.price | number }} تومان
          </div>
          <div class="title">تعداد: {{ item.number }}</div>

          <span
            class="fa fa-trash text-danger"
            (click)="onDeleteCart(item)"
          ></span>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
        >
          مبلغ تخفیف:
          <span>{{ pricePercent | number }} تومان</span>
        </li>
        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
        >
          مبلغ کل:
          <span>{{ sumOfPrice | number }} تومان</span>
        </li>
      </ul>

      <button
        pButton
        type="submit"
        class="mx-auto d-block mt-2 text-white p-button-danger"
        (click)="gotoCart()"
      >
        مشاهده سبد و تکمیل خرید
      </button>
    </div>
    <div class="dropcart__products-list" *ngIf="cartlist.length === 0"> -->
    <p class="text-center">سبد خرید شما خالی است.</p>
    <!-- </div>
  </div> -->
</p-sidebar>