<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <img src="../../../assets/images/marketing.png" alt="about" class="mw-100">
      </div>
      <div class="col-lg-6">
          <h2>ما کی هستیم و چکار می کنیم؟</h2>
        <p-tabView class="tabview">
          <p-tabPanel header="نوبت دهی" leftIcon="pi pi-lis">
            سامانه جدید نوبت دهی اینترنتی دکمه با قابلیت های قابل توجهی در اختیار هموطنان گرامی قرار گرفته است. صاحبین مشاغل از هرنوع گروه شغلی می توانند نوبت های خود (تاریخ و ساعات آزاد روزانه) را در گروه های اختصاصی خود به تفکیک با پنل مدیریتی که در اختیار شان قرار می گیرد ثبت کنند و مراجعه کنندگان در تایم ها و تاریخ های ارائه شده رزرو نوبت نمایند. این سامانه در عین سادگی توانایی پردازش دقیق نیاز های مشتریان انواع کسب و کارها بر اساس اهداف آنها را دارد.  از مزایای این سیستم به جستجوی کسب و کار بر اساس دسته بندی کسب و کار (مثلا سالن ها زیبایی) ، زیر دسته کسب و کار (مثلا سالن زیبایی زلفا)، تخصص (مثلا رنگ مو)، نام و نام خانوادگی فرد، مشاهده نوبت های خالی، دریافت نوبت حضوری یا مشاوره آنلاین و تلفنی، پرداخت آنلاین، امکان پسگیری نوبت یا لغو نوبت یا جابجایی نوبت می توان اشاره کرد.
          </p-tabPanel>
          <p-tabPanel header="فروشگاه" leftIcon="pi pi-store">
            در این بخش یک فروشگاه آنلاین در اختیار فروشنده ها و صاحبین کسب و کار قرار می گیرد که می توانند در بخش فروشنده شو ثبت نام کرده و محصولات خود را به فروش برسانند. فروشنده هایی که از طریق صفحات اینستاگرام محصولات خود را به فروش می رسانند از این طریق بصورت سازمان یافته تری فروش محصول خود را انجام می دهند. این بخش به تفکیک فروشگاه نیز می باشد یعنی می توان انتخاب کرد فقط محصولات یک فروشگاه خاص نمایش داده شود یعنی می توانند لینک محصولات خود را در صفحه اینستاگرام خود به اشتراک بگذارند. 
          </p-tabPanel>
          <p-tabPanel header="بازاریابی" leftIcon="pi pi-boo">
            ارائه دهنده انواع خدمات تبلیغات اینترنتی و موبایلی، مجری و مشاور دیجیتال مارکتینگ و تبلیغات اینترنتی بدون دیجیتال مارکتینگ و تبلیغات اینترنتی کسب و کار  شما مثل طلای زیر خاک است و کسی از آن لذت نمی‌برد، حتی خود شما!!! کارشناسان ما با بررسی بودجه و نیاز شما و تشخیص مناسب ترین پرسنا هدف شما ،استراتژی کوتاه مدت ، میان مدت و بلند مدت دیجیتال مارکتینگ شما را در قالب یک پروپوزال مهیا و در اختیار شما قرار می دهد . بی شک بازدهی بالا ، چابکی و ماندگار بودن از اهداف اصلی خدمات دیجیتال مارکتینگ ما می باشد . استفاده از انواع شیوه‌های تبلیغات اینترنتی و دیجیتال مارکتینگ
          </p-tabPanel>

        </p-tabView>
        <a href="#" class="btn-learn-more mt-5" [routerLink]="['/about']">بیشتر بدانید</a>
      </div>
    </div>
  </div>
</section>