.contact-icon i {
  font-size: 14px;
  width: 50px;
  height: 50px;
  line-height: 1;
  border-radius: 50%;
  color: var(--color-primary);
}

.contact-icon {
  margin-bottom: 5px;
}

.contact-icon span {
  margin-top: -5px;
}


:host::ng-deep .mat-divider {
  border-color: #f3f3f3;
}

:host::ng-deep .list-group-item:first-child {
  border: none;
}

.profile {
  border-radius: 50%;
  max-width: 100px;
}

.card-header {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
  margin: 10px;
  padding: 15px 30px;
}

.card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
  margin: 10px;
  padding: 50px 30px;
}

.card p {
  text-align: justify;
  font-family: 'IRANSans_Light' !important;
}

a {
  font-family: 'IRANSans_Light' !important;

}



input,
:host::ng-deep .p-inputtext,
:host::ng-deep .p-dropdown,
:host::ng-deep .p-chips,
.p-inputtext,
.p-dropdown,
.p-chips,
textarea {
  width: 100% !important;
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight:hover {
  color: var(--color-primary);
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight {
  color: var(--color-primary);
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: var(--color-primary);
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon:hover {
  color: var(--color-primary);
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: var(--color-primary);
}

:host::ng-deep .p-datatable .p-datatable-thead>tr>th {
  font-size: 14px;
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight {
  color: var(--color-primary);
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight:hover {
  color: var(--color-primary);
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  font-family: 'IRANSans_Light' !important;
  flex-direction: row;
}

:host::ng-deep .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover {
  background: #fafafa;
}

:host::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--color-primary);
  color: #fff;
  font-size: 12px;
}

:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody>tr>td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-demo {

        .p-datatable-thead>tr>th,
        .p-datatable-tfoot>tr>td {
          display: none !important;
        }

        .p-datatable-tbody>tr>td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}


.search-btn {
  background: var(--color-primary);
  color: #fff;
  padding: 5px 50px;
  font-size: 14px;
  margin-top: 30px;
}

.search-btn:hover {
  color: #fff;
}


:host::ng-deep .p-radiobutton-box.p-highlight .p-radiobutton-icon {
  background: var(--color-primary) !important;
  border-color: var(--color-primary);
}

:host::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
  background: var(--color-primary) !important;
  border-color: var(--color-secondary);
}

:host::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  background: var(--color-primary) !important;
  border-color: var(--color-primary);
}

:host::ng-deep .p-checkbox-label {
  margin-right: 5px;
  padding-top: 10px;
}

:host::ng-deep .p-radiobutton-label {
  margin-right: 5px;
  font-family: 'IRANSans_Light' !important;
  padding-top: 10px;
}

.slide {
  max-width: 98%;
  border-radius: 5px;
}

:host::ng-deep .p-carousel-container {
  padding: 5px;
}

// :host::ng-deep .p-carousel .p-carousel-indicators {
//   display: none;
// }

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: var(--color-primary);
  border-radius: 20px;
  margin-top: 15px;
}

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 20px;
  margin-top: 15px;
}

::ng-deep .p-carousel .p-carousel-header {
  margin-bottom: 15px;
  font-family: 'IRANSans_Bold' !important;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  background-color: #f3f3f3 !important;

}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  background-color: #f3f3f3 !important;

}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-size: 16px;
  font-family: 'IRANSans_Bold' !important;
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  font-size: 16px;
  font-family: 'IRANSans_Light' !important;
}

.card .cat {
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: 'IRANSans_Light' !important;

}

.card .cat .current {
  font-family: 'IRANSans_Light' !important;
}


:host::ng-deep .p-autocomplete-panel .p-autocomplete-items {
  border: none !important;
  outline: none !important;
}

:host::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  font-size: 14px;
}

:host::ng-deep .p-fluid .p-button-icon-only {
  background-color: var(--color-primary) !important;
  color: #fff;
  border-color: #d6d6d6 !important;
  border-right: none;
  border-radius: 5px;
}

:host::ng-deep .p-fluid .p-button-icon-only:hover {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .card {
    margin:10px -5px;
  }
  .card-header {
    margin:10px -5px;

  }
}