//slider


:host::ng-deep.carousel .carousel-control-next-icon {
  width: 50px !important;
  height: 50px !important;
}

:host::ng-deep.carousel .carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
}

:host::ng-deep.carousel-inner {
  border-radius: 5px !important;
}


.slider-image {
  height: 300px;
  display: block;
}

@media (max-width: 768px) {
  .slider {
    height: unset;
  }

  .slider-image {
    height: 200px;
  }
}

:host::ng-deep .owl-prev,
:host::ng-deep .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:host::ng-deep .owl-prev {
  left: 0;
}

:host::ng-deep .owl-next {
  right: 0;
}

:host::ng-deep .owl-theme .owl-nav [class*=owl-] {
  color: #bfbdbd !important;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background-color: transparent !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

::ng-deep .owl-stage-outer {
  border-radius: 5px !important;
}

//support
.support {
  padding: 5px 0px;
  margin: 0 10px;
}

.support .support-item {
  display: flex;
  align-items: center;
  padding: 10px 15px 5px;
  background: #fff;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
  margin: 0 -5px;
  justify-content: right;
  transition: all 0.3s ease-in-out;

}
.support .support-item:hover{
transform: scale(1.02);
}
.support .support-item .text {
  margin-right: 5px;
  padding: 5px;
}

.support .support-item img {
  width: 70px;
}

.support .support-item span {
  font-size: 15px;
  color: #4d4d4d;
}

.support .support-item p {
  font-size: 13px;
  color: #777;
 // font-family: 'IRANSans_Light' !important;
}



//products

:host::ng-deep .p-carousel-container {
  padding: 5px;
  justify-content: center;
}

:host::ng-deep .p-carousel .p-carousel-indicators {
  display: none;
}

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: var(--color-primary);
  border-radius: 20px;
  margin-top: 15px;
}

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 20px;
  margin-top: 15px;
}

::ng-deep .p-carousel .p-carousel-header {
  padding: 5px 10px;
  font-family: 'IRANSans_Bold' !important;
  font-size: 16px;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  background-color: #f3f3f3 !important;

}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  background-color: #f3f3f3 !important;

}

.card-filter {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
  padding: 55px 20px;
  height: 300px;
}

.card {
  border-radius: 5px;
  background-color: #fff;
  //box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin: 10px 10px 30px;
  padding: 25px 10px;
}

.slide {
  max-width: 99%;
  border-radius: 10px;
}
.dis {
  color: #ccc !important;
  font-size: 12px;
  text-decoration: line-through;
}
.product-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
  margin: 5px;
  padding: 10px 10px 15px;
}

.product-info {
  padding: 0 10px;
}

.product-info h4 {
  font-family: 'IRANSans_Bold' !important;
  font-size: 12px;
  color: #666;
  direction: rtl;
  margin-top: 10px;

}

.product-info .cat {
  padding: 0 10px 5px;
  margin-top: -5px;
  // line-height: 1;
}

.product-info .cat h6 {
  font-family: 'IRANSans_Light' !important;
  font-size: 13px;
  color: #777;
}

.product-info h6 {
  font-family: 'IRANSans_Bold' !important;
  font-size: 14px;
  color: #666;
  direction: rtl;
  text-align: center;
  margin-top: 10px;
}

input,
:host::ng-deep .p-inputtext,
:host::ng-deep .p-dropdown,
:host::ng-deep .p-chips,
.p-inputtext,
.p-dropdown,
.p-chips,
textarea {
  width: 100% !important;
}

:host::ng-deep .p-inputtext:enabled,
input {
  border-radius: 2px;
}

:host::ng-deep .p-autocomplete-panel .p-autocomplete-items {
  border: none !important;
  outline: none !important;

}

:host::ng-deep  .p-inputtext:enabled, input{
  border-radius: 5px !important;
}
:host::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  font-family: 'IRANSans_Light' !important;
  font-size: 14px;


}
:host::ng-deep .p-fluid .p-button-icon-only {
  background-color: var(--color-primary) !important;
  color: #fff;
  border-color: #d6d6d6 !important;
  border-right: none;
  border-radius: 5px;
}

:host::ng-deep .p-fluid .p-button-icon-only:hover {
  color: #fff;
}


svg{
  width: 30px;
  fill: var(--color-primary);
  transition: all ease-in-out 0.5s;
}
a svg:hover{
  transform: scale(1.18);
}


:host::ng-deep .p-badge.p-badge-success {
  border-radius: 5px;
  font-family: 'IRANSans_Bold' !important;
  font-size: 9px;
}

:host::ng-deep .p-badge.p-badge-warning {
  border-radius: 5px;
  font-family: 'IRANSans_Bold' !important;
  font-size: 9px;
}

:host::ng-deep .p-badge.p-badge-danger {
  border-radius: 5px;
  font-family: 'IRANSans_Bold' !important;
  font-size: 9px;
  top: 0px;
  right: 0px;
  position: absolute;
  background-color: var(--color-primary);

}

@media screen and (max-width: 600px) {
  .card {
    margin:20px -5px;
  }
  .card-filter {
    margin:20px -5px;
  }
}