<section id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-xl-6 p-3">
        <img src="../../../assets/images/marketing.png" alt="about" class="mw-100">
      </div>
      <div class="col-xs-12 col-lg-6 col-xl-6 p-0 d-lg-flex d-xl-flex">
        <div class="content">
          <h1 class="section-title">درباره ما</h1>
          <p>
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش 
            تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
            تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش
          </p>
          <p>
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش 
            تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
            تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش
          </p>
          <ul>
            <li><i class="pi pi-check-square"></i>فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش </li>
            <li><i class="pi pi-check-square"></i>فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش </li>
            <li><i class="pi pi-check-square"></i>فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش </li>
            <li><i class="pi pi-check-square"></i>فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</section>

<app-services></app-services>
<app-goal></app-goal>