  <div class="theme-container">
    <div class="terms">
    <div class="row justify-content-center">
        <p-panel  class="mt-4" header="قوانین اپلیکیشن دکمه" [toggleable]="true" iconPos="left" collapseIcon="pi pi-minus-circle" expandIcon="pi pi-plus-circle">
          <h3>حریم خصوصی</h3>
          <p>
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا
            با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
            آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
            خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
            می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
            تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
            فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
            داند </p>          
        <h3>قوانین لغو</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        </p-panel>
        <p-panel header="قوانین عضویت کاربران" [toggleable]="true" [collapsed]="true" iconPos="left" collapseIcon="pi pi-minus-circle" expandIcon="pi pi-plus-circle">
          <h3>حریم خصوصی</h3>
          <p>
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا
            با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
            آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
            خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
            می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
            تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
            فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
            داند </p>

            
        <h3>قوانین لغو</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        <h3>دسترسی</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        <h3>حق کپی رایت</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        </p-panel>
        <p-panel header="قوانین نوبت دهی " [toggleable]="true" [collapsed]="true" iconPos="left" collapseIcon="pi pi-minus-circle" expandIcon="pi pi-plus-circle">
          <h3>حریم خصوصی</h3>
          <p>
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا
            با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
            آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
            خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
            می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
            تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
            فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
            داند </p>          
        <h3>قوانین لغو</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        <h3>دسترسی</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        <h3>حق کپی رایت</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        </p-panel>

        <p-panel header="قوانین فروشنده شو" [toggleable]="true" [collapsed]="true" iconPos="left" collapseIcon="pi pi-minus-circle" expandIcon="pi pi-plus-circle">
          <h3>حریم خصوصی</h3>
          <p>
            روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا
            با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
            آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
            خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
            می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
            تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
            فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
            داند </p>

            
        <h3>قوانین لغو</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        <h3>دسترسی</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        <h3>حق کپی رایت</h3>
        <p> روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند
          تا
          با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با
          آغاز تعاملی با مشتریان خود می داند مشتریان خود می داند روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی
          خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود
          می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر فروش روش را آغاز
          تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می داند با آسودگی خاطر
          فروش روش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر فروش روش را آغاز تعاملی با مشتریان خود می
          داند
        </p>
        </p-panel>


        <p class="text-left mt-3"> ParsArad 2022 All Rights Reserved ©</p>
      </div>
    </div>
  </div>
