<section id="doctors" class="doctors">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/female.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>الهام گودرزی</h4>
            <span>Founder & Full Stack Developer</span>
            <p> توسعه دهنده وب و اپلیکیشن مدیر پروژه</p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/male.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>علی مهرابی راد</h4>
            <span>Co-Founder</span>
            <p>دکتری حرفه ای پزشکی، هم بنیان گذار</p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/male.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>حمید سپهوند</h4>
            <span>Mobile Developer</span>
            <p>کارشناس ارشد نرم افزار توسعه دهنده اپلیکیشن </p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/female.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>بهاره جوادی</h4>
            <span>Product Designer</span>
            <p>کارشناس نرم افزار طراح محصول و مدیر تولید محتوا</p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/female.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>مهناز زین الدینی</h4>
            <span>Web Developer</span>
            <p>کارشناس ارشد نرم افزار توسعه دهنده وب سایت</p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/male.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>میلاد گودرزی</h4>
            <span>Backend Developer</span>
            <p>تحلیل گر و توسعه دهنده سمت سرور</p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/male.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>میلاد مقدسی</h4>
            <span>Web Developer</span>
            <p> دکتری نرم افزار توسعه دهنده وب سایت</p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="../../../assets/images/female.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>رویا گودرزی</h4>
            <span>Visual Designer</span>
            <p>طراح گرافیک و مدیر تولید محتوا </p>
            <div class="social">
              <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-lg fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>