<section id="parts" class="parts">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 py-2">
        <a href="#" [routerLink]="['/reservation']">
          <div class="part-box">
            <img src="../../../../assets/images/icons/s.png" width="65px"/>

            <h3>سامانه نوبت دهی</h3>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6  py-2">
        <a href="#" [routerLink]="['/shop']">
          <div class="part-box">
            <img src="../../../../assets/images/icons/shop.png" width="65px"/>
            <h3>فروشگاه</h3>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6  py-2">
        <a href="#" [routerLink]="['/marketing']">
          <div class="part-box">
            <img src="../../../../assets/images/icons/marketing.png" width="65px"/>
            <h3>بازاریابی و فروش</h3>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6  py-2">
        <a href="#" [routerLink]="['/co-worker']">
          <div class="part-box">
            <img src="../../../../assets/images/icons/recruitment.png" width="65px"/>
            <h3>همکاری با ما</h3>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>